
:root{
    --rosa_claro: #FFD4EA;
    --rosa_forte: #EC4399;
    --branco: #fff;
    --rosa_punk: #B4005C;
}


.menulateral{
    width: 0px;
    height: 100vh;
    background-color: var(--branco);
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
    z-index: 2;
}


.menulateral:hover {
    width: 350px;
}


.hamburguerButton:hover +.menulateral{
    width: 250px;
} 

.iconmenu{
    height: 40px;
    width: 65px;
}

.hamburguerButton{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menutitulo{
    color: var(--rosa_punk);
    font-family: 'Poppins, sans-serif';
    font-size: 16px;
    font-weight: 700;
    margin-left: 41px;
}

ul{
    list-style-type: none;
}

ul li.item-menu a{
    color: var(--rosa_punk);
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4px ;
    display: flex;
    margin-bottom: 20px ;
    line-height: 40px;
    gap: 11px;

}

ul li.item-menu{
    transition: .2s;
    display: flex;
    align-items: center;
    margin-top: 34px;
    margin-left: 39px;
}

ul li.item-menu a .linktexto{
    margin-left: 40px;
}

.item-menu:hover{
    background-color: var(--rosa_punk);
}


.seila{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-left: 175px;
}


.pesquisar{
    align-items: center;
    width: 490px;
    flex-shrink: 0;
    border-radius: 1.875rem;
    background: var(--branco);
    border: none;
    padding-top: 0.5rem ;
    padding-bottom: 0.5rem;
    margin: 9px;
    font-family: 'Poppins, sans-serif';
    font-size: 14px;
    font-weight: 500;
    
}

input::placeholder{
    color: var(--rosa_claro);
    padding: 9px 305px 5px 24px;
}

.inputItem{
    position: relative;
}
.inputImagem{
    position: absolute;
    left: 20px;
    /* width: 12px; */
    top: 19.1px;
}

.postbox{
    background-color: var(--branco);
    border-radius: 0.938rem;
    width: 732px;
    box-shadow: 0rem 0.25rem 0.25rem transparent;
    width: 832px;
    height: 134px;
    position: relative;
}


.disque{
    display: flex;
    gap: 14px;
    
    /* superior | direita | inferior | esquerda */
    padding: 214px 220px 756px 40px ;

}


.menuicones{
    width: 36px;
    height: 35px;
}

#maisBotao{
    position: absolute;
    width: 72px;
    height: 52px;
    bottom: 20px;
    right: 37px;
}

.linktxt{
    color: var(--rosa_punk);
    font-family: 'Poppins, sans-serif';
    font-size: 16px;
    font-weight: 400;

}
.item-menu:hover  .linktxt {
    color: var(--branco);
}

.item-menu:hover .icones-menu-disque{
    display: none;


}

.item-menu:hover .icones-menu-disque-hover{
    display: block;


}

.icones-menu-disque-hover{
    display: none;
}


@media (max-width:1200px){
    .pesquisar{   
        width: 147px;
        height: 20px;
        margin: 0px;
    }
    .entrar{
        width: 20%;
        height: 30%;
        font-size: 14px;
    }
    .inputImagem{
        left: 8px;
        top: 13.1px;
    }
    .logo{
        width: 87px;
        height: 56px;

    }
    .postbox{
        width: 271px;
        left: -2px;

    }
    .imagemUsuario{
        left: 5px;
        top: 5px;
    }
    .postboxTexto{
        left: 32px;
    }
    .bolinha{
        left: 80px;
    }
    .enviado{
        left: 95px;
    }
    .postboxHoras{
        left: 219px;
    }
    #maisBotao{
        left: 85%;
        top: 91%;
        width: 56px;
        height: 45px;
    }
    .seila{
        margin-left: 0;
    }
    .espacamento{
        gap: 0px;
    }
    .hamburguerButton:hover +.menulateral{
        width: 181px;
    }
    .menulateral:hover{
        width: 181px;
    }
    #logomenu{
        width: 207px;
    }
    .linktxt{
        font-size: 13px;
    }
    .item-menu:hover .icones-menu-disque{
        width: 22px;
    }
    .item-menu:hover .icones-menu-disque-hover{
        width: 22px;
    
    
    }
    .icones-menu-disque-hover{
        width: 22px;
    }
    .icones-menu-disque{
        width: 22px;
    }
    .menutitulo{
        font-size: 14px;
    }
    ul li.item-menu a{
        line-height: 29px;
    }
    .item-menu:hover{
        line-height: 29px;
    }

}
